/* General - mobile first */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bdb
{
  border: 1px solid red;
}

.header-img-container
{
  overflow: hidden;
}

.header-img
{
  height: 100vh;
}

.abs-logo-wrapper
{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.relative{ position: relative; } .no-margin{ margin: 0; }

.big-nav
{
  position: absolute;
  top: calc(100% - 64px);
  background: transparent;
  box-shadow: none;
  z-index: 100000;
}

.big-nav ul li
{
  text-shadow: 0px 1px 1px rgba(0,0,0,.7);
}

.big-nav ul li:hover
{
  background: rgba(140, 90, 90, 0.3);
}

.who-we-are-text
{
  line-height: 1.4;
  color: #666;
  letter-spacing: .05em;
}

.less-padding
{
  padding: 0 4px !important;
}

.text-when-hover
{
  position: absolute;
  height: calc(100% - 6px);
  width: calc(100% - 8px);
  top: 0px;
  left: 4px;
  background-color: rgba(0,0,0,0);
  color: white;
  display: none;
}

.text-when-hover h3
{
  width: 100%;
  text-align: center;
  font-family: 'bebas_neue_bold';
  letter-spacing: 1px;
}

.hoverable-for-text:hover > .text-when-hover
{
  display: flex;
  animation: transToSemiBlack .4s 1 forwards;
}

.hoverable-for-text:hover > .see-more-4box
{
  display: none;
}

.sm-text-when-hover
{
  position: absolute;
  height: calc(100% - 6px);
  width: calc(100% - 8px);
  top: 0px;
  left: 4px;
  background-color: rgba(90,12,12,.2);
  color: white;
  display: flex;
}

.sm-text-when-hover h4
{
  width: 100%;
  text-align: center;
  font-family: 'bebas_neue_bold';
  letter-spacing: 1px;
  text-shadow: 0px 1px 2px rgba(0,0,0,.4);
}

.see-more-4box
{
  position: absolute;
  bottom: 6px;
  left: 4px;
  z-index: 2;

  width: calc(100% - 8px);
  background: rgba(10,10,10,.5);
  color: white;
  letter-spacing: 1px;
}

.mobile-nav
{
  position: fixed;
  top: 0;
  background: transparent;
  z-index: 100000;
  box-shadow: 0px 0px 0px transparent;
}

.mobile-nav-logo
{
  height: 30px;
  margin-top: 15px;
  margin-left: 10px;
  opacity: 0;
}

.border-btn{
  background: transparent;
  color: #666;
  border: 1px solid #d0d0d0;
  border-radius: 100px;
}

.shopping-badge
{
  background: red;
  color: white !important;
  padding: 0 2px !important;
  border-radius: 3px;
}

#floating-btn
{
  display: none;
  opacity: 0;
  z-index: 100000;
}

.cs-absolute-shopping
{
  position: fixed;
  bottom: 0px;
  right: 0px;
  background: #f08a04;
  z-index: 100000;
  padding: 0 15px;
  width: 100%;
  display: none;
  opacity: 0;
}

.left-button
{
  float: left;
  line-height: 40px;
  font-size: 40px !important;
  text-shadow: 0px 1px 1px rgba(0,0,0,.2);
  color: white;
}

.right-button
{
  float: left;
  line-height: 40px;
  font-size: auto;
  font-family: 'raleway';
  font-weight: 600;
  padding-left: 10px;
  color: white;
}

.cs-absolute-shopping .items
{
  float: right;
  line-height: 40px;
  font-size: auto;
  padding-left: 10px;
  color: #444;
  font-weight: bold;
}
/*
 * Then we begin
 * with the STORE
 */
.abs-store-wrapper
{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.header-welcome
{
  text-align: center;
  color: #fff;
  font-family: 'bebas_neue_bold';
  font-size: 40pt;
  text-shadow: 0px 3px 1px rgba(0,0,0,.4);
}

.product-in-landing
{
  height: 60vh;
}

.forget-overflow
{
  overflow: hidden;
}

.product-extension
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12%;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.6));
  transition: all .3s ease-in-out;
}

.product-extension .title
{
  font-family: 'roboto';
  color: #f0f0f0;
  text-shadow: 0px 2px .5px rgba(0,0,0,.8);
  padding-left: 10px;
  padding-top: 5px;
}

.product-in-landing .important-product
{
  position: absolute;
  top: 10px;
  right: 0;
  padding: 0px 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: rgba(20, 166, 212, 0.87);
  filter: drop-shadow(0px 1px .5px rgba(0,0,0,.5));
  font-family: 'roboto';
  font-weight: bold;
  color: white;
  letter-spacing: .1em;
  z-index: 1;
}

.product-in-landing .important-product:before
{
  content: '';
  position: absolute;
  top: calc(50% - 20px);
  right: 100%;
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  border-right-color: rgba(20, 166, 212, 0.87);
}

.product-in-landing:hover > .product-extension
{
  height: 100%;
  padding-top: 20px;
  padding-left: 30px;
  background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.6));
}

.product-in-landing:hover > .important-product
{
  opacity: 0;
}

.product-in-landing:hover > .product-extension > p
{
  opacity: 1;
}

.product-in-landing p
{
  opacity: 0;
  text-align: right;
  color: #ddd;
  padding-top: 50px;
  letter-spacing: .1em;
  font-weight: bold;
  font-family: 'raleway';
  text-transform: uppercase;
  transition: all 1s ease-in-out;
}
