/* Desktop */
@media only screen and (min-width: 993px) {
  .cs-absolute-shopping
  {
    bottom: 10px;
    right: 10px;
    border-radius: 50px;
    width: auto;
  }

  .col.prod-c
  {
    padding: 10px !important;
  }

  .collection-item.desc
  {
    display: flex;
  }
}
