/* Mobile & landscape */

/*@media (orientation: landscape)
{
  .product-in-landing
  {
    height: 100vh;
  }

  .cs-absolute-shopping
  {
    bottom: 10px;
    right: 10px;
    border-radius: 50px;
    width: auto;
  }
}*/
